## Apress - Industrialized Machine Learning Examples

Andreas Francois Vermeulen
2019

### This is an example add-on to a book and needs to be accepted as part of that copyright.

# Chapter-015-03-GeoSpace-02

![GIS Earth](../../images/solar-system2.jpg)

In [1]:
from math import sin, cos, sqrt, atan2, radians, degrees, pi
import numpy as np

## Planet Information

In [2]:
planets= np.array([
    ['Mercury', 4879.4],
    ['Venus', 12104],
    ['Earth', 12742],
    ['Moon', 3474.2],
    ['Mars', 6779],
    ['Jupiter', 139820],
    ['Saturn', 116460],
    ['Uranus', 50724],
    ['Neptune', 49244],
    ['Pluto', 2376.6],
    ['Hale Bopp Comet', 96.5606],
    ['Oumuamua Comet', 0.400]
])

In [3]:
planets2=np.array(sorted(planets, key=lambda planets: float(planets[1])))

In [4]:
print('Planets Smallest to Largest')
print('-'*50)
for i in range(planets2.shape[0]):
    print('%-10s diameter is: %10.3f kilometers' % (planets2[i][0], float(planets2[i][1])))

Planets Smallest to Largest
--------------------------------------------------
Oumuamua Comet diameter is:      0.400 kilometers
Hale Bopp Comet diameter is:     96.561 kilometers
Pluto      diameter is:   2376.600 kilometers
Moon       diameter is:   3474.200 kilometers
Mercury    diameter is:   4879.400 kilometers
Mars       diameter is:   6779.000 kilometers
Venus      diameter is:  12104.000 kilometers
Earth      diameter is:  12742.000 kilometers
Neptune    diameter is:  49244.000 kilometers
Uranus     diameter is:  50724.000 kilometers
Saturn     diameter is: 116460.000 kilometers
Jupiter    diameter is: 139820.000 kilometers

## Mine Route

In [5]:
def MineRoute(ID):
    for i in range(planets.shape[0]):
        p = planets[i][0]
        R = (float(planets[i][1])/2) * 1000

        lat1 = radians(mine_crusher[0])
        lon1 = radians(mine_crusher[1])

        lat2 = radians(mine_shaft[0])
        lon2 = radians(mine_shaft[1])

        dlon = lon2 - lon1
        dlat = lat2 - lat1

        a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
        c = 2 * atan2(sqrt(a), sqrt(1 - a))

        distance = round(R * c,6)
        
        ###########################
        
        diffLong = lon2 - lon1

        x = sin(diffLong) * cos(lat2)
        y = cos(lat1) * sin(lat2) - (sin(lat1) * cos(lat2) * cos(diffLong))

        initial_bearing_radians = atan2(x, y)

        initial_bearing = degrees(initial_bearing_radians)
        compass_bearing = round((initial_bearing + 360) % 360,3)
        
        ###########################

        print("Mine %03d on %-8s is %16.6f meters (%6.3f degrees) from mine to crusher" % (ID, p, distance, compass_bearing))

## Mine Area and Volume

In [6]:
def MineAreaVolume(depth, ore, price):
    for i in range(planets.shape[0]):
        p = planets[i][0]
        R = (float(planets[i][1])/2) 
        
        Surface_Area=4*pi*np.power(R,2)
        VolumeCore = (4.0 / 3) * pi * np.power(R-depth,3)
        VolumeSurface = (4.0 / 3) * pi * np.power(R,3)
        Volume=VolumeSurface-VolumeCore
        
        VolumeOre=Volume*ore
        
        ValueMine=(VolumeOre*price)/10e-15
        if depth < 1:
            print('Mining company mining %6.3f meters deep on %-8s:' % ((depth*1000), p))
        else:
            print('Mining company mining %6.3f kilometers deep on %-8s:' % (depth, p))
        print('- has %18.4f square kilometers of surface area to explore' % (Surface_Area))
        print('- has %18.4f cubic kilometers of volume in ore they can mine at %6.4f %% ore yield' % (Volume, (ore*100)))
        print('- has £ %0.2f quadrillion in value of ore they can mine at %6.4f %% ore yield' % (ValueMine, (ore*100)))
        print('-'*80)

In [7]:
MineDepth = 0.08                # Kilometers deep mining
PersOre = 0.0002                # 0.02% yield per Cubic Meter of Rock mined
PriceperCubicMeterOre = 1200.00 # £ per Cubic Meter of Ore

PriceperCubicKilometerOre=PriceperCubicMeterOre*np.power(1000,3)

MineAreaVolume(MineDepth,PersOre,PriceperCubicKilometerOre)

Mining company mining 80.000 meters deep on Mercury :
- has      74796748.0540 square kilometers of surface area to explore
- has       5983543.6341 cubic kilometers of volume in ore they can mine at 0.0200 % ore yield
- has £ 143605047219360355456357761024.00 quadrillion in value of ore they can mine at 0.0200 % ore yield
--------------------------------------------------------------------------------
Mining company mining 80.000 meters deep on Venus   :
- has     460264736.8464 square kilometers of surface area to explore
- has      36820692.2191 cubic kilometers of volume in ore they can mine at 0.0200 % ore yield
- has £ 883696613258789057928108179456.00 quadrillion in value of ore they can mine at 0.0200 % ore yield
--------------------------------------------------------------------------------
Mining company mining 80.000 meters deep on Earth   :
- has     510064471.9098 square kilometers of surface area to explore
- has      40804645.3687 cubic kilometers of volume in ore they can mine at 0.0200 % ore yield
- has £ 979311488847656229010868797440.00 quadrillion in value of ore they can mine at 0.0200 % ore yield
--------------------------------------------------------------------------------
Mining company mining 80.000 meters deep on Moon    :
- has      37919229.5430 square kilometers of surface area to explore
- has       3033398.6597 cubic kilometers of volume in ore they can mine at 0.0200 % ore yield
- has £ 72801567832946778716227239936.00 quadrillion in value of ore they can mine at 0.0200 % ore yield
--------------------------------------------------------------------------------
Mining company mining 80.000 meters deep on Mars    :
- has     144371390.8825 square kilometers of surface area to explore
- has      11549438.6730 cubic kilometers of volume in ore they can mine at 0.0200 % ore yield
- has £ 277186528151367198809195020288.00 quadrillion in value of ore they can mine at 0.0200 % ore yield
--------------------------------------------------------------------------------
Mining company mining 80.000 meters deep on Jupiter :
- has   61416981528.2210 square kilometers of surface area to explore
- has    4913352899.7500 cubic kilometers of volume in ore they can mine at 0.0200 % ore yield
- has £ 117920469593999995431084586172416.00 quadrillion in value of ore they can mine at 0.0200 % ore yield
--------------------------------------------------------------------------------
Mining company mining 80.000 meters deep on Saturn  :
- has   42609206275.7009 square kilometers of surface area to explore
- has    3408731819.0000 cubic kilometers of volume in ore they can mine at 0.0200 % ore yield
- has £ 81809563656000000420859734917120.00 quadrillion in value of ore they can mine at 0.0200 % ore yield
--------------------------------------------------------------------------------
Mining company mining 80.000 meters deep on Uranus  :
- has    8083079689.5652 square kilometers of surface area to explore
- has     646644335.4531 cubic kilometers of volume in ore they can mine at 0.0200 % ore yield
- has £ 15519464050875000629356488818688.00 quadrillion in value of ore they can mine at 0.0200 % ore yield
--------------------------------------------------------------------------------
Mining company mining 80.000 meters deep on Neptune :
- has    7618272762.6620 square kilometers of surface area to explore
- has     609459840.8125 cubic kilometers of volume in ore they can mine at 0.0200 % ore yield
- has £ 14627036179500000772252481093632.00 quadrillion in value of ore they can mine at 0.0200 % ore yield
--------------------------------------------------------------------------------
Mining company mining 80.000 meters deep on Pluto   :
- has      17744430.2083 square kilometers of surface area to explore
- has       1419458.8501 cubic kilometers of volume in ore they can mine at 0.0200 % ore yield
- has £ 34067012401222230027806965760.00 quadrillion in value of ore they can mine at 0.0200 % ore yield
--------------------------------------------------------------------------------
Mining company mining 80.000 meters deep on Hale Bopp Comet:
- has         29292.0512 square kilometers of surface area to explore
- has          2339.4833 cubic kilometers of volume in ore they can mine at 0.0200 % ore yield
- has £ 56147599337494472569126912.00 quadrillion in value of ore they can mine at 0.0200 % ore yield
--------------------------------------------------------------------------------
Mining company mining 80.000 meters deep on Oumuamua Comet:
- has             0.5027 square kilometers of surface area to explore
- has             0.0263 cubic kilometers of volume in ore they can mine at 0.0200 % ore yield
- has £ 630530211946085875712.00 quadrillion in value of ore they can mine at 0.0200 % ore yield
--------------------------------------------------------------------------------

## Mine Placement

![GIS Space](../../images/latitude_longitude.gif)

### (Latitude, Longitude)
### (-90 to 90, -180 to 180)

## Mine One

In [8]:
mine_crusher = (0, 0)
mine_shaft = (10e-6, 0)
MineRoute(1)

Mine 001 on Mercury  is         0.425808 meters ( 0.000 degrees) from mine to crusher
Mine 001 on Venus    is         1.056273 meters ( 0.000 degrees) from mine to crusher
Mine 001 on Earth    is         1.111949 meters ( 0.000 degrees) from mine to crusher
Mine 001 on Moon     is         0.303181 meters ( 0.000 degrees) from mine to crusher
Mine 001 on Mars     is         0.591579 meters ( 0.000 degrees) from mine to crusher
Mine 001 on Jupiter  is        12.201597 meters ( 0.000 degrees) from mine to crusher
Mine 001 on Saturn   is        10.163052 meters ( 0.000 degrees) from mine to crusher
Mine 001 on Uranus   is         4.426504 meters ( 0.000 degrees) from mine to crusher
Mine 001 on Neptune  is         4.297350 meters ( 0.000 degrees) from mine to crusher
Mine 001 on Pluto    is         0.207397 meters ( 0.000 degrees) from mine to crusher
Mine 001 on Hale Bopp Comet is         0.008427 meters ( 0.000 degrees) from mine to crusher
Mine 001 on Oumuamua Comet is         0.000035 meters ( 0.000 degrees) from mine to crusher

## Mine Two

In [9]:
mine_crusher = (0, 0)
mine_shaft = (90, 0)
MineRoute(2)

Mine 002 on Mercury  is   3832271.798482 meters ( 0.000 degrees) from mine to crusher
Mine 002 on Venus    is   9506459.369763 meters ( 0.000 degrees) from mine to crusher
Mine 002 on Earth    is  10007543.398010 meters ( 0.000 degrees) from mine to crusher
Mine 002 on Moon     is   2728630.299275 meters ( 0.000 degrees) from mine to crusher
Mine 002 on Mars     is   5324214.149671 meters ( 0.000 degrees) from mine to crusher
Mine 002 on Jupiter  is 109814371.206231 meters ( 0.000 degrees) from mine to crusher
Mine 002 on Saturn   is  91467470.109267 meters ( 0.000 degrees) from mine to crusher
Mine 002 on Uranus   is  39838536.440172 meters ( 0.000 degrees) from mine to crusher
Mine 002 on Neptune  is  38676147.158344 meters ( 0.000 degrees) from mine to crusher
Mine 002 on Pluto    is   1866577.275130 meters ( 0.000 degrees) from mine to crusher
Mine 002 on Hale Bopp Comet is     75838.517897 meters ( 0.000 degrees) from mine to crusher
Mine 002 on Oumuamua Comet is       314.159265 meters ( 0.000 degrees) from mine to crusher

## Mine Three

In [10]:
mine_crusher = (0, 0)
mine_shaft = (0, 180)
MineRoute(3)

Mine 003 on Mercury  is   7664543.596963 meters (90.000 degrees) from mine to crusher
Mine 003 on Venus    is  19012918.739525 meters (90.000 degrees) from mine to crusher
Mine 003 on Earth    is  20015086.796021 meters (90.000 degrees) from mine to crusher
Mine 003 on Moon     is   5457260.598551 meters (90.000 degrees) from mine to crusher
Mine 003 on Mars     is  10648428.299343 meters (90.000 degrees) from mine to crusher
Mine 003 on Jupiter  is 219628742.412462 meters (90.000 degrees) from mine to crusher
Mine 003 on Saturn   is 182934940.218534 meters (90.000 degrees) from mine to crusher
Mine 003 on Uranus   is  79677072.880344 meters (90.000 degrees) from mine to crusher
Mine 003 on Neptune  is  77352294.316688 meters (90.000 degrees) from mine to crusher
Mine 003 on Pluto    is   3733154.550261 meters (90.000 degrees) from mine to crusher
Mine 003 on Hale Bopp Comet is    151677.035793 meters (90.000 degrees) from mine to crusher
Mine 003 on Oumuamua Comet is       628.318531 meters (90.000 degrees) from mine to crusher

## Mine Four

In [11]:
mine_crusher = (0, 0)
mine_shaft = (1, 1)
MineRoute(4)

Mine 004 on Mercury  is     60216.812979 meters (44.996 degrees) from mine to crusher
Mine 004 on Venus    is    149375.805283 meters (44.996 degrees) from mine to crusher
Mine 004 on Earth    is    157249.381272 meters (44.996 degrees) from mine to crusher
Mine 004 on Moon     is     42875.200158 meters (44.996 degrees) from mine to crusher
Mine 004 on Mars     is     83659.830140 meters (44.996 degrees) from mine to crusher
Mine 004 on Jupiter  is   1725522.562348 meters (44.996 degrees) from mine to crusher
Mine 004 on Saturn   is   1437236.143693 meters (44.996 degrees) from mine to crusher
Mine 004 on Uranus   is    625986.314208 meters (44.996 degrees) from mine to crusher
Mine 004 on Neptune  is    607721.592478 meters (44.996 degrees) from mine to crusher
Mine 004 on Pluto    is     29329.687610 meters (44.996 degrees) from mine to crusher
Mine 004 on Hale Bopp Comet is      1191.657087 meters (44.996 degrees) from mine to crusher
Mine 004 on Oumuamua Comet is         4.936411 meters (44.996 degrees) from mine to crusher

## Done

In [12]:
import datetime
now = datetime.datetime.now()
print('Done!',str(now))

Done! 2019-10-26 22:09:41.731853