## Apress - Industrialized Machine Learning Examples

Andreas Francois Vermeulen
2019

### This is an example add-on to a book and needs to be accepted as part of that copyright.

# Chapter-015-05-Earth-Mars-Time-01

In [1]:
import os
import datetime
import pandas as pd

In [2]:
nowStart = datetime.datetime.now()

In [3]:
dirname = '../../Results/Chapter 15/999-DL/100-Raw-Zone/'
filename='15-04-Retrieve-Mars-Time.csv'
fileZipname=filename + '.gz'
print(fileZipname)

15-04-Retrieve-Mars-Time.csv.gz

# Create 100-Raw-Zone

![Raw Zone](../../images/DL-RZ.JPG)

In [4]:
pathRealName=os.path.realpath(dirname)
print(pathRealName)
fullRealZipName = os.path.join(pathRealName, fileZipname)

C:\Users\AndreVermeulen\Documents\My Book\apress\Industrial Machine Learning\book\GitHub\Upload\industrial-machine-learning\Results\Chapter 15\999-DL\100-Raw-Zone

In [5]:
if not os.path.exists(pathRealName):
    print('Make:', pathRealName)
    os.makedirs(pathRealName)

# Create Mars Time

In [6]:
imax = 24*60*1000
base = datetime.datetime.today()
base = datetime.datetime(2018, 10, 20, 9, 15, 30)

date_list = [base + datetime.timedelta(minutes=x) for x in range(0, imax)]

In [7]:
dateDF = pd.DataFrame(date_list)
dateDF.columns = ['EarthTime']
print(dateDF.shape)

(1440000, 1)

In [8]:
print(dateDF.head())

            EarthTime
0 2018-10-20 09:15:30
1 2018-10-20 09:16:30
2 2018-10-20 09:17:30
3 2018-10-20 09:18:30
4 2018-10-20 09:19:30

In [9]:
print(dateDF.tail())

                  EarthTime
1439995 2021-07-16 09:10:30
1439996 2021-07-16 09:11:30
1439997 2021-07-16 09:12:30
1439998 2021-07-16 09:13:30
1439999 2021-07-16 09:14:30

In [10]:
dateDF.reset_index(level=0, inplace=True)
dateDF.columns = ['MinutesSinceLaunch','EarthTime']
dateDF.index.name = 'ID'

In [11]:
print(dateDF.head())
print(dateDF.tail())

    MinutesSinceLaunch           EarthTime
ID
0                    0 2018-10-20 09:15:30
1                    1 2018-10-20 09:16:30
2                    2 2018-10-20 09:17:30
3                    3 2018-10-20 09:18:30
4                    4 2018-10-20 09:19:30
         MinutesSinceLaunch           EarthTime
ID
1439995             1439995 2021-07-16 09:10:30
1439996             1439996 2021-07-16 09:11:30
1439997             1439997 2021-07-16 09:12:30
1439998             1439998 2021-07-16 09:13:30
1439999             1439999 2021-07-16 09:14:30

In [12]:
def makesecs(s):
    marsseconds = s * 60
    return marsseconds

In [13]:
dateDF['SecondsSinceLaunch'] = dateDF.apply(lambda row: makesecs(row['MinutesSinceLaunch']), axis=1)

In [14]:
print(dateDF.head())

    MinutesSinceLaunch           EarthTime  SecondsSinceLaunch
ID
0                    0 2018-10-20 09:15:30                   0
1                    1 2018-10-20 09:16:30                  60
2                    2 2018-10-20 09:17:30                 120
3                    3 2018-10-20 09:18:30                 180
4                    4 2018-10-20 09:19:30                 240

In [15]:
def marstime(s):
    #set to 24 hours, 39 minutes, and 35 seconds
    marsdayseconds = (24*60*60)+(39*60)+35
    marsday = round(s/marsdayseconds,6)
    return marsday

In [16]:
dateDF['MarsTime'] = dateDF.apply(lambda row: marstime(row['SecondsSinceLaunch']), axis=1)

In [17]:
def earthtime(s):
    # set to 23 hours, 56 minutes, and 4 seconds
    earthdayseconds = (23*60*60)+(59*60)+4
    earthday = round(s/earthdayseconds,6)
    return earthday

In [18]:
dateDF['EarthTime'] = dateDF.apply(lambda row:earthtime(row['SecondsSinceLaunch']), axis=1)

In [19]:
print(dateDF.head())
print(dateDF.tail())

    MinutesSinceLaunch  EarthTime  SecondsSinceLaunch  MarsTime
ID
0                    0   0.000000                   0  0.000000
1                    1   0.000695                  60  0.000676
2                    2   0.001390                 120  0.001352
3                    3   0.002085                 180  0.002028
4                    4   0.002780                 240  0.002703
         MinutesSinceLaunch    EarthTime  SecondsSinceLaunch    MarsTime
ID
1439995             1439995  1000.645094            86399700  973.243593
1439996             1439996  1000.645789            86399760  973.244269
1439997             1439997  1000.646484            86399820  973.244945
1439998             1439998  1000.647179            86399880  973.245621
1439999             1439999  1000.647874            86399940  973.246297

In [20]:
def findgap(et,mt):
    gaptime = et-mt
    return gaptime

In [21]:
dateDF['EarthMarsGap'] = dateDF.apply(lambda row:findgap(row['EarthTime'],row['MarsTime']), axis=1)

In [22]:
print(dateDF.columns)

Index(['MinutesSinceLaunch', 'EarthTime', 'SecondsSinceLaunch', 'MarsTime',
       'EarthMarsGap'],
      dtype='object')

In [23]:
dateFixDF = dateDF[['MinutesSinceLaunch', 'SecondsSinceLaunch', 'EarthTime', 'MarsTime', 'EarthMarsGap']]
print(dateFixDF.columns)

Index(['MinutesSinceLaunch', 'SecondsSinceLaunch', 'EarthTime', 'MarsTime',
       'EarthMarsGap'],
      dtype='object')

# Save Mars Time

In [24]:
print(fullRealZipName)
dateFixDF.to_csv(fullRealZipName, index=False, encoding='utf-8', compression='gzip')

C:\Users\AndreVermeulen\Documents\My Book\apress\Industrial Machine Learning\book\GitHub\Upload\industrial-machine-learning\Results\Chapter 15\999-DL\100-Raw-Zone\15-04-Retrieve-Mars-Time.csv.gz

In [25]:
BossFile = '../../Results/Chapter 15/999-DL/400-Consumer-Zone/15-04-Retrieve-Mars-Time.csv'
dateFixDF.to_csv(BossFile, index=False, encoding='utf-8', compression=None)
print(BossFile)

../../Results/Chapter 15/999-DL/400-Consumer-Zone/15-04-Retrieve-Mars-Time.csv

In [26]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [27]:
dateFixDF.head(25)

    MinutesSinceLaunch  SecondsSinceLaunch  EarthTime  MarsTime  EarthMarsGap
ID
0                    0                   0   0.000000  0.000000      0.000000
1                    1                  60   0.000695  0.000676      0.000019
2                    2                 120   0.001390  0.001352      0.000038
3                    3                 180   0.002085  0.002028      0.000057
4                    4                 240   0.002780  0.002703      0.000077
5                    5                 300   0.003474  0.003379      0.000095
6                    6                 360   0.004169  0.004055      0.000114
7                    7                 420   0.004864  0.004731      0.000133
8                    8                 480   0.005559  0.005407      0.000152
9                    9                 540   0.006254  0.006083      0.000171
10                  10                 600   0.006949  0.006759      0.000190
11                  11                 660   0.007644  0.007435      0.000209
12                  12                 720   0.008339  0.008110      0.000229
13                  13                 780   0.009034  0.008786      0.000248
14                  14                 840   0.009729  0.009462      0.000267
15                  15                 900   0.010423  0.010138      0.000285
16                  16                 960   0.011118  0.010814      0.000304
17                  17                1020   0.011813  0.011490      0.000323
18                  18                1080   0.012508  0.012166      0.000342
19                  19                1140   0.013203  0.012841      0.000362
20                  20                1200   0.013898  0.013517      0.000381
21                  21                1260   0.014593  0.014193      0.000400
22                  22                1320   0.015288  0.014869      0.000419
23                  23                1380   0.015983  0.015545      0.000438
24                  24                1440   0.016677  0.016221      0.000456

In [28]:
dateFixDF.tail(25)

,MinutesSinceLaunch,SecondsSinceLaunch,EarthTime,MarsTime,EarthMarsGap
ID,,,,,
1439975,1439975,86398500,1000.631196,973.230076,27.401120
1439976,1439976,86398560,1000.631891,973.230752,27.401139
1439977,1439977,86398620,1000.632586,973.231428,27.401158
1439978,1439978,86398680,1000.633281,973.232104,27.401177
1439979,1439979,86398740,1000.633976,973.232779,27.401197
1439980,1439980,86398800,1000.634671,973.233455,27.401216
1439981,1439981,86398860,1000.635366,973.234131,27.401235
1439982,1439982,86398920,1000.636060,973.234807,27.401253
1439983,1439983,86398980,1000.636755,973.235483,27.401272
1439984,1439984,86399040,1000.637450,973.236159,27.401291
1439985,1439985,86399100,1000.638145,973.236835,27.401310
1439986,1439986,86399160,1000.638840,973.237511,27.401329
1439987,1439987,86399220,1000.639535,973.238186,27.401349
1439988,1439988,86399280,1000.640230,973.238862,27.401368
1439989,1439989,86399340,1000.640925,973.239538,27.401387
1439990,1439990,86399400,1000.641620,973.240214,27.401406
1439991,1439991,86399460,1000.642314,973.240890,27.401424
1439992,1439992,86399520,1000.643009,973.241566,27.401443
1439993,1439993,86399580,1000.643704,973.242242,27.401462
1439994,1439994,86399640,1000.644399,973.242917,27.401482
1439995,1439995,86399700,1000.645094,973.243593,27.401501
1439996,1439996,86399760,1000.645789,973.244269,27.401520
1439997,1439997,86399820,1000.646484,973.244945,27.401539
1439998,1439998,86399880,1000.647179,973.245621,27.401558
1439999,1439999,86399940,1000.647874,973.246297,27.401577

# Close Notebook

In [29]:
nowStop = datetime.datetime.now()
runTime=nowStop-nowStart
print('Start:', nowStart.strftime('%Y-%m-%d %H:%M:%S'))
print('Stop: ', nowStop.strftime('%Y-%m-%d %H:%M:%S'))
print('Time: ', runTime)

Start: 2019-10-26 22:10:41
Stop:  2019-10-26 22:14:54
Time:  0:04:13.726995