## Apress - Industrialized Machine Learning Examples

Andreas Francois Vermeulen
2019

### This is an example add-on to a book and needs to be accepted as part of that copyright.

## Delta Lake

In [14]:
import datetime as dt
import pandas as pd
from pyspark.sql import SparkSession

## Create Spark Session

In [ ]:
spark = SparkSession.builder.appName("Delta Lake").getOrCreate()

## Create Time for 5 years

In [23]:
numyears=5
numdays=int(numyears*365.2422)
base = dt.datetime.today()
date_list = [base - dt.timedelta(days=i) for i in range(0, numdays)]
timedf=pd.DataFrame(date_list,columns=['Time'])
timedf.shape

In [ ]:
data = sqlContext.createDataFrame(timedf)
data.write.format("delta").save("/rawzone/delta-time-table")

## Create Time for 10 years

In [ ]:
numyears=10
numdays=int(numyears*365.2422)
base = dt.datetime.today()
date_list = [base - dt.timedelta(days=i) for i in range(0, numdays)]
timedf=pd.DataFrame(date_list,columns=['Time'])
timedf.shape

In [ ]:
data.write.format("delta").mode("overwrite").save("/rawzone/delta-time-table")

## Read Time for 10 years

In [ ]:
df = spark.read.format("delta").load("/rawzone/delta-time-table")
df.show()

## Read older Time for 5 years

In [ ]:
df = spark.read.format("delta").option("versionAsOf", 0).load("/rawzone/delta-time-table")
df.show()