# 08-02-Retrieve-Person-01

In [1]:
import datetime
nowStart = datetime.datetime.now()

![RIF Functional Layer - Retrieve Step](../../../../../images/DV-Person.JPG)

![RIF Functional Layer - Retrieve Step](../../../../../images/RIF-FL-RET.JPG)

In [2]:
dirname = '../../../../Chapter 08/990-DL/100-Raw-Zone/'
filename='08-02-Retrieve-Person.csv'
fileZipname=filename + '.gz'
print(fileZipname)

08-02-Retrieve-Person.csv.gz

In [3]:
import pandas as pd
import os

# Create 100-Raw-Zone

![Raw Zone](../../../../../images/DL-RZ.JPG)

In [4]:
pathRealName=os.path.realpath(dirname)
print(pathRealName)
fullRealZipName = os.path.join(pathRealName, fileZipname)

C:\Users\AndreVermeulen\Documents\My Book\apress\Industrialized Machine Learning\book\IML\Code\Chapter 08\990-DL\100-Raw-Zone\

In [5]:
if not os.path.exists(pathRealName):
    print('Make:', pathRealName)
    os.makedirs(pathRealName)

# Create Person

In [6]:
dirDataName = '../../../../../Data/Chapter 08/000-ExternalData/02-Person/'
pathRealDataName=os.path.realpath(dirDataName)
print(pathRealDataName)

C:\Users\AndreVermeulen\Documents\My Book\apress\Industrialized Machine Learning\book\IML\Data\Chapter 08\000-ExternalData\02-Person\

## Get First Name

In [7]:
fileDataName='FirstNamesBoy2018.csv'
fileFullDataName= os.path.join(pathRealDataName, fileDataName)
print(fileFullDataName)

C:\Users\AndreVermeulen\Documents\My Book\apress\Industrialized Machine Learning\book\IML\Data\Chapter 08\000-ExternalData\02-Person\FirstNamesBoy2018.csv

In [8]:
firstNameDF=pd.read_csv(fileFullDataName, header=0)
firstNameDF.set_index("ID", inplace = True)
firstNameDF.columns=['FirstName']
print(firstNameDF.shape)
print(firstNameDF.head())

(100, 1)
    FirstName
ID
1    Muhammad
2      Oliver
3        Noah
4       Harry
5         Leo

## Get Last Name

In [9]:
fileDataName='LastNames150.csv'
fileFullDataName= os.path.join(pathRealDataName, fileDataName)
print(fileFullDataName)

C:\Users\AndreVermeulen\Documents\My Book\apress\Industrialized Machine Learning\book\IML\Data\Chapter 08\000-ExternalData\02-Person\LastNames150.csv

In [10]:
lastNameRawDF=pd.read_csv(fileFullDataName, header=0)
lastNameRawDF.index.name='IDKey'
lastNameRawDF.shape
lastNameRawDF.head()

       ID1     Name1     Cnt1  ID2   Name2     Cnt2  ID3   Name3    Cnt3
IDKey
0        1     Smith  729 862   51  Bailey  111 011  101    Cole  68 854
1        2     Jones  578 261   52  Parker  109 943  102  Pearce  68 707
2        3    Taylor  458 268   53  Miller  109 474  103    Dean  68 073
3        4  Williams  411 385   54   Davis  108 041  104  Foster  67 675
4        5     Brown  380 443   55  Murphy  106 245  105  Harvey  67 231

In [11]:
lastName1DF=pd.DataFrame(lastNameRawDF.loc[:, ['ID1','Name1','Cnt1']])
lastName1DF.columns=['ID','LastName','Cnt']
lastName1DF.set_index("ID", inplace = True) 
print(lastName1DF.shape)
print(lastName1DF.head())

(50, 2)
    LastName      Cnt
ID
1      Smith  729 862
2      Jones  578 261
3     Taylor  458 268
4   Williams  411 385
5      Brown  380 443

In [12]:
lastName2DF=pd.DataFrame(lastNameRawDF.loc[:, ['ID2','Name2','Cnt2']])
lastName2DF.columns=['ID','LastName','Cnt']
lastName2DF.set_index("ID", inplace = True) 
print(lastName2DF.shape)
print(lastName2DF.head())

(50, 2)
   LastName      Cnt
ID
51   Bailey  111 011
52   Parker  109 943
53   Miller  109 474
54    Davis  108 041
55   Murphy  106 245

In [13]:
lastName3DF=pd.DataFrame(lastNameRawDF.loc[:, ['ID3','Name3','Cnt3']])
lastName3DF.columns=['ID','LastName','Cnt']
lastName3DF.set_index("ID", inplace = True) 
print(lastName3DF.shape)
print(lastName3DF.head())

(50, 2)
    LastName     Cnt
ID
101     Cole  68 854
102   Pearce  68 707
103     Dean  68 073
104   Foster  67 675
105   Harvey  67 231

In [14]:
DFs = [lastName1DF, lastName2DF, lastName3DF]
lastNameDF=pd.DataFrame(pd.concat(DFs))
lastNameDF.drop(['Cnt'], axis=1, inplace=True)

print(lastNameDF.shape)
print(lastNameDF.head())

(150, 1)
    LastName
ID
1      Smith
2      Jones
3     Taylor
4   Williams
5      Brown

## Create First Name with Last Name

In [15]:
firstNameDF['keyid']=0
lastNameDF['keyid']=0

NameDF=pd.merge(firstNameDF, lastNameDF, how='inner')
NameDF.drop(['keyid'], axis=1, inplace=True)
NameDF.reset_index(inplace=True)
NameDF.index.name='KeyID'
NameDF.columns=['ID','FirstName','LastName']

print(NameDF.shape)
print(NameDF.head())

(15000, 3)
       ID  FirstName  LastName
KeyID
0       0   Muhammad     Smith
1       1   Muhammad     Jones
2       2   Muhammad    Taylor
3       3   Muhammad  Williams
4       4   Muhammad     Brown

In [16]:
NameDF.to_csv(fullRealZipName, index=False, encoding='utf-8', compression='gzip')

In [17]:
print(fullRealZipName)
nowStop = datetime.datetime.now()
runTime=nowStop-nowStart
print('Start:', nowStart.strftime('%Y-%m-%d %H:%M:%S'))
print('Stop: ', nowStop.strftime('%Y-%m-%d %H:%M:%S'))
print('Time: ', runTime)

C:\Users\AndreVermeulen\Documents\My Book\apress\Industrialized Machine Learning\book\IML\Code\Chapter 08\990-DL\100-Raw-Zone\08-02-Retrieve-Person.csv.gz
Start: 2019-01-06 10:05:48
Stop:  2019-01-06 10:05:49
Time:  0:00:01.440994